# 1. Secrets & Keys (NEVER UPLOAD THESE)
*.db
*.sqlite
*.key
*.crt
*.pem
master_key_backup.txt

# 2. Docker & Environment
wolfronix_data/
.env

# 3. Go Binaries & Build Artifacts
wolfronix-engine
main
client/source.dat
client/encrypted.bin
client/decrypted_file
client/decrypted.bin

# 4. System
.DS_Store
