version: '3.8'

services:
  wolfronix:
    build: .
    container_name: wolfronix_v3
    ports:
      - "5002:5001" # Host Port 5002 (HTTPS) -> Container Port 5001
    volumes:
      - ./wolfronix_data:/root/data
      - ./wolfronix.db:/root/wolfronix.db
      # Mount certificates so you don't lose them on rebuild
      - ./server.crt:/app/server.crt
      - ./server.key:/app/server.key
    environment:
      # 172.17.0.1 is the Docker Gateway IP (Points to your Host/Server)
      - DB_HOST=172.17.0.1
      - DB_PORT=5433
      - DB_USER=admin
      - DB_PASS=secretpassword
      - DB_NAME=client_vault
    restart: always
